/*
*
*
*
*			-- WEBSHOP EITF05 Stylesheet --
*
*
*
*/

/*

		Main body properties

*/
body, html {
	min-width: 100%;
	min-height: 100%;
	background: #313131;
	padding: 0;
	margin: 0;
}

/*
	
		Headers
	
*/
h1 {
	font-family: Corbel, Arial;
}

h2 {
	font-family: Corbel, Arial;
}

h3 {
	font-family: Corbel, Arial;
}

/*

		Main wrapper

*/
#main_wrapper#{
	min-width: 100%;
	min-height: 100%;
	padding: 0;
}

/*
	
		Topbar wrapper
	
*/
#topbar_wrapper {
	min-width: 100%;
	max-width: 100%;
	height: 121px;
	background-color: #FFF;
	padding: 0;
	margin: 0;
	top: 0;
}

/*
	
		Topbar content
	
*/
#topbar_content {
	width: 1200px;
	height: 121px;
	margin-left: auto;
	margin-right: auto;
	top: 0;
}

/*
	
		Logo box
	
*/
#logo_box {
	padding: 0;
	height: 121px;
	float: left;
	line-height: 0px;
}

/*
	
		Login/signin box
	
*/

#logsignin_box {
	float: right;
	margin-top: 20px;
	font-size: 18px;
	font-family: Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 18px;
	color: #484848;
}

/*
	
		Menu wrapper
	
*/
#menu_wrapper {
	padding: 0;
	min-width: 1200px;
	max-width: 100%;
	height: 60px;
	background-color: #484848;
}

/*
	
		Menu container
	
*/

#menu_container {
	padding: 0;
	top: 0;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 60px;
}

/*
	
		Menu object container
	
*/
#menu_object_container {
	height: 60px;
	width: 1200px;
	padding: 0;
	margin-top: 0;
	float: left;
}

/*

		Links

*/
a.white_to_green {
	color: #FFF;
	text-decoration: none;
}

a.white_to_green:hover {
	color: #10bf31;
	text-decoration: none;
}

/*
	
		Menu object
	
*/
a.menu_object {
	float: left;
	margin-top: 0;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 22px;
	padding-bottom: 18px;
	font-size: 16px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 16px;
	color: #FFF;
	text-decoration: none;
}

a.menu_object:hover {
	color: #10bf31;
	background-color: #5a5a5a;
	border-bottom: 4px solid #10bf31;
}

/* Active menu object */
a.menu_object_active {
	float: left;
	margin-top: 0;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 22px;
	padding-bottom: 18px;
	font-size: 16px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 16px;
	color: #10bf31;
	text-decoration: none;
	border-bottom: 4px solid #10bf31;
}

/*
	
		Frontpage big pic
	
*/
#frontpage_big_pic {
	min-width: 1200px;
	width: 100%;
	height: 551px;
	padding: 0;
	background-image: url("../images/frontpagebigpic.png");
	background-size: 110%;
	background-repeat: no-repeat;
}

/*
	
		Frontpage big pic container
	
*/
#frontpage_big_pic_container {
	width: 1200px;
	height: 551px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	
}

/*
	
		Frontpage big pic content 
	
*/
#frontpage_big_pic_content {
	float: right;
}

/*

		Frontpage header wrapper

*/
#frontpage_header_wrapper {
	
}

/*
	
		Frontpage header box
	
*/
#frontpage_header_box {
	margin-top: 65px;
	padding-top: 25px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 12px;
	background-color: #15c536;
	opacity: 0.84;
}

/*

		Frontpage header text

*/
#frontpage_header_text {
	margin-top: 20px;
	margin-left: 5px;
	font-size: 18px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 18px;
	color: #FFF;
	text-decoration: none;
}

/*

		Frontpage header button

*/
#frontpage_header_button {
	margin-top: 20px;
	float: right;
	background-color: #15c536;
	border-radius: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	opacity: 0.84;
	font-size: 22px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: bold;
	font-style: none;
	line-height: 22px;
	color: #FFF;
	text-decoration: none;
}

.header1 {
	font-size: 30px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 30px;
	color: #FFF;
	text-decoration: none;
}

.header2 {
	font-size: 60px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 60px;
	color: #FFF;
	text-decoration: none;
}

/*
	
		Color box wrapper
	
*/
#color_box_wrapper {
	width: 100%;
	min-width: 1200px;
	padding: 0;
}

/*
	
		Color box left
	
*/
#color_box_left  {
	float: left;
	width: 50%;
	height: 340px;
	background-color: #15c536;
}

/*
	
		Color box right
	
*/
#color_box_right {
	float: left;
	width: 50%;
	height: 340px;
	background-color: #087b1d;
}

/*
	
		Footer wrapper
	
*/
#footer_wrapper {
	width: 100%;
}

/*

		Footer content

*/
#footer_content {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #313131;
}

/*

		Footer object

*/
.footer_object {
	float: left;
	margin-top: 40px;
	margin-right: 90px;
	
}

.footer_header1 {
	font-size: 18px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 18px;
	color: #FFF;
	text-decoration: none;
}

.green {
	color: #15c536;
}

p.footer_text1 {
	margin-top: 20px;
	font-size: 18px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 18px;
	color: #FFF;
	text-decoration: none;
}

p.copyright {
	margin-top: 10px;
	font-size: 16px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 16px;
	color: #FFF;
	text-decoration: none;
}

p.terms {
	margin-top: 10px;
	font-size: 14px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 14px;
	color: #FFF;
	text-decoration: none;
}

#get_started {
	float: right;
}

#learn_more {
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 18px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 18px;
	color: #FFF;
	text-decoration: none;
}

#get_started_button {
	float: left;
	background-color: #15c536;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
	opacity: 0.84;
	font-size: 18px;
	font-family: Microsoft New Tai Lue, Corbel, Arial;
	font-weight: normal;
	font-style: none;
	line-height: 18px;
	color: #FFF;
	text-decoration: none;
}

/*
	
		Frontpage color box

*/
#frontpage_color_box {
	width: 1200px;
	height: 400px;
	border: 2px solid #FFF;
	border-radius: 20px;
	background-color: #e5ffdc;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

/*
	
	Fruit image
	
*/
#fruit_image {
	width: 1200px;
	height: 400px;
	border: 2px solid #FFF;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/fruit2.png");
}